{% extends 'app/base.html' %}

{% load static %}

{% block title %}
 Actualizar Categoria
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <form action="" method="post" >{% csrf_token %}
    <br> <br> <br>
    <h1>Actualizar una Categoria</h1><br><br><br>

    <table>
            {{form.as_table}}
        </table> <br> <br>
        <div class="container">
            <button type="submit" class="btn btn-info">Actualizar Categoria</button>
        <div>
    </form>
</div>
{% endblock %}
