{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Adicional
{% endblock %}

{% block codigoDinamico %}
<div class="container"transition-style="in:wipe:up">
    <h1> Adicional </h1> <br> <br> <br>
{% for adicional in adicional %}
    <div class="container"transition-style="in:wipe:up">
        <table class="table table-hover text-center">
            <tbody>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <tr class="table-secondary text-center">
                    <th>  {{ adicional.id }}</th>
                    <td>  {{ adicional.nombre }}</td>
                    <td> ${{ adicional.precio }}</td>
            </tbody>
        </table>
        <div class="container">
            <button type="button" class="btn btn-outline-success">
                <a href="{% url 'Crear Adicional' %}">Nuevo Adicional</a>
            </button> &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-outline-primary">
                <a  href="{% url 'Buscar Adicional' %}">Buscar Adicional</a>
            </button> &nbsp; &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-info">
                <a href="{% url 'Actualizar Adicional' adicional_id=adicional.id %}">Actualizar Adicional</a>
            </button> &nbsp; &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger">
                <a href="{% url 'Eliminar Adicional' adicional_id=adicional.id %}">Eliminar Adicional</a>
            </button> &nbsp; &nbsp;&nbsp;
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}