{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Buscar Mesa
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <br> <br> <br>
    <form action="" method="get">

        <input type="text" name="numero_mesa" id="numero_mesa" placeholder="Buscar Numero de Mesa">
        <br> <br> <br>
        <input type="submit" value="Buscar Mesa" class="btn btn-outline-primary">

    </form>
    <br> <br> <br>
    {% if mesa %}

        {% for mesa in mesa %}
        <table class="table table-hover text-center">
            <tbody>
                <th scope="col">ID</th>
                <th scope="col">Sector</th>
                <th scope="col"> Numero Mesa</th>
                <tr class="table-secondary text-center">
                    <td>  {{ mesa.id }}</td>
                    <td>  {{ mesa.sector }}</td>
                    <td>  {{ mesa.numero_mesa }}</td>
            </tbody>
        </table>
        {% endfor %}
        
    {% else %}
    <h3>No hay resultados para su búsqueda.</h3>
    {% endif %}
    
</div>

{% endblock %}