{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Postres
{% endblock %}

{% block codigoDinamico %}
<div class="container"transition-style="in:wipe:up">
    <h1> Postres </h1> <br> <br> <br>
{% for postre in postre %}
    <div class="container"transition-style="in:wipe:up">
        <table class="table table-hover text-center">
            <tbody>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <tr class="table-secondary text-center">
                    <th>  {{ postre.id }}</th>
                    <td>  {{ postre.nombre }}</td>
                    <td> ${{ postre.precio }}</td>
            </tbody>
        </table>
    </div>
    <div class="container">
        <button type="button" class="btn btn-outline-success">
            <a href="{% url 'Crear Postre' %}">Nuevo Postre</a>
        </button> &nbsp; &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary">
            <a href="{% url 'Buscar Postre' %}">Buscar Postre</a>
        </button> &nbsp; &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info">
            <a href="{% url 'Actualizar Postre' postre_id=postre.id %}">Actualizar Postre</a>
        </button> &nbsp; &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-danger">
            <a href="{% url 'Eliminar Postre' postre_id=postre.id %}">Eliminar Postre</a>
        </button> &nbsp; &nbsp;&nbsp;
    </div>

</div>
{% endfor %}

{% endblock %}